[
  {
    "name": "",
    "stg": {
      "host": "",
      "pass": "",
      "wp_dir": "",
      "wp_cmd": "",
      "wp_log": ""
    },
    "prod": {
      "host": "",
      "pass": "",
      "wp_dir": "",
      "wp_cmd": "",
      "wp_log": ""
    }
  }
]
